<div class='header'>
  <h1>Welcome to my blog, bitch!</h1>
</div>
<div class='recent'>
  <% @posts.each do |post| %>

	<article class="post">

		<h2> <%= link_to post.title, post %></h2>
		
		<p><%= post.body %></p>
    
    </article>

  <% end %>
</div>
<p class='navigation'>
    <%= link_to "New Post", new_post_path %>
</p>