@import url(https://fonts.googleapis.com/css?family=Slabo+27px|PT+Serif|Raleway);

body {
	font-family: 'PT+Serif', Georgia, Times, serif;
    font-size: 15px;
    line-height: 25px;
}

h1 {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 70px;
}